doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/socket.io-client/socket.io.js")
    script(src="/components/jquery.rdio/jquery.rdio.min.js")
    script(src="/js/main.js")
  body
    block content
