mixin angular_includes
    script(src="/components/angular/angular.js")
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/angular-ui-router/release/angular-ui-router.js')
    script(src='/js/HarmonizeApp.js')
    script(src='/js/services/WebSocketFactory.js')
    script(src='/js/directives/PreloadResource.js')
    script(src='/js/controllers/HarmonizeController.js')
    script(src='/js/controllers/RoomController.js')
