mixin js_includes
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/socket.io-client/socket.io.js")
    script(src="/components/jquery.rdio/jquery.rdio.min.js")
    script(src='/components/swfobject/swfobject/swfobject.js')
