extends layout

block content
    div(ui-view)
        h1= title
        if authorized
            h2 Welcome! Here are some rooms
            each room in rooms
                a.room-link(ui-sref='room', href='/rooms/#{room.id}')= room.name
        else
            p Welcome to #{title}
            p
                | Please
                a(href="/oauth/login") authorize
                |  with Rdio to start entering rooms
