include angular-includes

doctype 5
html(ng-app='harmonize')
    head
        title= title
        if env === 'development'
            link(rel='stylesheet', href='/css/style.css')
            script(src="/components/jquery/dist/jquery.min.js")
            script(src="/components/socket.io-client/socket.io.js")
            script(src="/components/jquery.rdio/jquery.rdio.min.js")
            script(src='/components/swfobject/swfobject/swfobject.js')
            +angular_includes
            block js_imports
  body
    div(ng-controller='harmonize.MainController')
        block content
