extends layout

block content
    div(ng-controller='harmonize.RoomController')
        - if (data)
            block preloaded_data
                script(type='json/preloaded', preload-resource)!= JSON.stringify(data)

        h1= title
        div#upsell
            div#remainingTime
        div#apiswf
        input#play_key(ng-value='room.playKey', ng-model='room.playKey')
        div#playControls
            button#play(ng-click='onPlay()', ng-disabled='room.rdioElem === null') Play
            button#pause(ng-click='onPause()', ng-disabled='room.rdioElem === null') Pause
            button#stop Stop
            button#previous Previous
            button#id Next
        div.artistAlbumInfo
            h3
                span#artist
                 -
                span#track
            img#art.albumArt(src="")
            h3#album
            h4
                | Playstate
                p#playState
            h4
                | Position
                p#position
